.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn {
    background: rgba(13, 13, 221, 1);
    padding: 10px 20px;
    border-radius: 16px;
    shadow: 1px 3px 2px #ddd;
    color: #ddd;
    border: none;
}

.btnDanger {
    background: rgba(245, 37, 37, 1);
    padding: 10px 20px;
    border-radius: 16px;
    shadow: 1px 3px 2px #ddd;
    color: #fffffeff;
    border: none;
    margin-left: 10px;
}